@import-normalize;

:root {
  --bg-color: #1b1b1b;
  --text-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
  background-color: var(--bg-color);
}

body::backdrop {
  background-color: var(--bg-color);
}

.timer {
}

.timer__text {
  font-weight: 700;
  font-size: 95px;
  font-family: monospace;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
